version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "5176:5176"
    container_name: frontend-energia
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true