version: '3.8'

services:
  
  frontend:
    build: ./
    ports:
      - "5173:5173"
    container_name: frontend
    depends_on:
    volumes:
      - ./frontend:/app
      - /app/node_modules

    command: npm run dev -- --host

